.form-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;

    h2{
        text-align: center;
        color: map-get($colors , sub-title-color);
        font-size: 40px;
    }

    label{
        font-size: 1.5rem;
    }

    select{
        font-size: 1.3rem;
        width: 15rem;
        border: none;
        border-bottom: 2px solid rgb(255, 140, 0);
        padding-left: 5px;
        border-radius: 0;
        &:focus{
            background: linear-gradient(to bottom, transparent, rgba(252, 136, 5, 0.521));
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid rgb(255, 140, 0);
        }
    }

    input{
        font-size: 20px;
        height: 1.2rem;
        width: 15rem;
        border: none;
        border-bottom: 2px solid rgb(255, 140, 0);
        padding-left: 5px;
        border-radius: 0;
        &:focus{
            background: linear-gradient(to bottom, transparent, rgba(252, 136, 5, 0.521));
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid rgb(255, 140, 0);
        }
    }

    textarea{
        height: 12.5rem;
         width: 20rem;
         min-width: 18.75rem;
         min-height: 12.5rem;
         max-height: 13.75rem;
           max-width: 22rem;
         font-size: 1.25rem;
         border: none;
         border-bottom: 1px solid rgb(255, 140, 0);
         padding-left: 5px;
         &:focus{
             background: linear-gradient(to bottom, transparent, rgba(248, 207, 157, 0.63));
             outline:  5px solid rgba(255, 166, 0, 0.87);
             box-shadow: 5px solid rgb(255, 140, 0);
        }
    }

    .form-contacto__button{
        display: flex;
        flex-direction: column;
    }

    .form-contacto__button-send,
    .form-contacto__button-reset{
        padding: 5px;
    }

    .form-contacto__button-send{
        background-color: map-get($colors , botton-background-a);
        color: map-get($colors, botton-letter-a);
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid transparent;
        width: 8rem;
        margin-bottom: .5rem; 
        &:active{
            background-color: map-get($colors , botton-background-b);
            color: map-get($colors, botton-letter-b);
            border: 1px solid rgb(247, 156, 45);
        }
    }

    .form-contacto__button-reset{
        background-color: map-get($colors , botton-background-b);
        color: map-get($colors, botton-letter-b);
        font-size: 20px;
        border: 1px solid rgb(247, 156, 45);
        border-radius: 5px;
        width: 10rem;
        &:active{
            background-color: map-get($colors , botton-background-a);
            color: map-get($colors, botton-letter-a);
        }
    }
}
@media screen and (max-width: 600px){

    .form-contacto{
        width: 100%;
        div{
            h2{
                font-size: 1.6rem;
                width: 100%;
            }
        }

        textarea{
            min-width: 15rem;
            max-width: 20rem;
        }

        input,
        select,
        textarea{
            width: 100%;
        }
    }

}

@media screen and (max-width: 400px) and (orientation: portrait){
    .form-contacto{ 
        textarea{
            font-size: 1.25rem;
    
        }
    }
}
