.mainContainerContacto{
    margin-top: 10rem;


    .textoContactanos{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        h1{
            color: $title-color;
            font-size: 80px;
            margin-bottom: 3rem;
        }
        
        p{
            font-size: 30px;
        }

        a, i{
            color: rgb(116, 201, 77);
        }
        i{
            animation-name: whatsapp;
            animation-duration: 1s;
            animation-timing-function:cubic-bezier(0.5, 0.46, 0.45, 0.5);
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        a{
            text-decoration: none;

            &:hover{
                color: rgb(93, 161, 61);
            }
            &:hover > i{
                color: rgb(93, 161, 61);
            }
        }
        @keyframes whatsapp {
            0%{
               transform: rotate(0deg);
            }
            100%{
                transform: rotate(-20deg);
            }
        }
    }
    @media screen and (max-width: 600px){
        .textoContactanos{

            h1{
            font-size: 3rem;
            }
            p{
            font-size: 1.6rem;
            }
        }
    }
    
}