$colors:(
title-color: rgb(255, 140, 0),
sub-title-color: rgb(230, 129, 5),
botton-background-a: #ff6e2b,
botton-letter-a: #fff,
botton-background-b: #fff,
botton-letter-b: rgb(255, 140, 0)
);

$sizes:(
    title-size: 3rem,
    sub-title-size: 2.5rem,
    text-size: 1.87rem
);