@charset "UTF-8";
main .cards-container .card a, .form-contacto .form-contacto__button-reset, .form-contacto .form-contacto__button-send, .mainIndex .textoYButton .textoYButton__button, header .navBar__button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  border: solid transparent 1px;
  border-radius: 3px;
  text-decoration: none;
}

.historiaContainer .parallax-b, .historiaContainer .parallax-a {
  background-attachment: fixed;
  background-color: #fff;
  background-repeat: no-repeat;
}

* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .navbar-nav {
  margin-left: 10rem;
}
header .navbar-brand img {
  height: 9.37rem;
  width: 15.62rem;
}
header .navbar-nav {
  margin-left: 5rem;
}
header .navbar-nav a {
  text-decoration: none;
  color: #a3a3a3;
  font-weight: bold;
  font-size: 1.87rem;
}
header .navbar-nav a:hover {
  color: #fa8925;
  transform: rotate(5deg);
  transition: all 0.5s;
}
header .navbar-nav .active {
  color: #f17407 !important;
}
header .navBar__button {
  background-color: #ff2129;
  font-size: 2rem;
  font-weight: bold;
  color: #fff !important;
  transition: background-color color 0.5s ease;
  margin-right: 3rem;
}
header .navBar__button:hover {
  font-size: 2.1rem;
  background-color: #f52f2f;
  color: #f0f0f0;
}
@media screen and (max-width: 600px) {
  header .responsiveButton {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 2rem;
    background: transparent;
    border: none;
    gap: 0.35rem;
    justify-content: center;
  }
  header .responsiveButton > div {
    background: #f05913;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }
  header .responsiveButton:hover div:first-child {
    transform: rotate(45deg);
  }
  header .responsiveButton:hover div:nth-child(2) {
    opacity: 0;
  }
  header .responsiveButton:hover div:last-child {
    transform: rotate(-45deg);
  }
}

.footerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #faa55f;
  width: 100%;
  height: 100%;
}
.footerContainer a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}
.footerContainer a:hover {
  color: #888;
}
.footerContainer .footer__responsive {
  display: none;
}
.footerContainer .footer__directions, .footerContainer .footer__CopyrightContenedor {
  width: 50%;
  height: 150px;
  display: flex;
}
.footerContainer .footer__directions {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 0 0 10px;
}
.footerContainer .ul-links {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 5rem;
  list-style-type: none;
}
.footerContainer .footer__rrss {
  outline: auto;
}
.footerContainer .footer__hs {
  color: rgb(46, 46, 46);
}
.footerContainer .footer__CopyrightContenedor {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.footerContainer .footer__CopyrightContenedor__rrss ul {
  list-style-type: none;
}
.footerContainer .footer__CopyrightContenedor__rrss ul li {
  display: inline-block;
}
.footerContainer .footer__CopyrightContenedor__rrss ul li i {
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  .footerContainer footer {
    height: 20rem;
  }
  .footerContainer .footerContainer {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    place-items: center;
  }
  .footerContainer .footer__directions {
    display: none;
  }
  .footerContainer .footer__responsive {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
  }
  .footerContainer h2 {
    font-size: 2rem;
    text-align: center;
    width: 20rem;
  }
  .footerContainer .footer__ul {
    display: flex;
    height: 60%;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    list-style-type: none;
  }
  .footerContainer .footer__ul a {
    font-size: 1rem;
  }
  .footerContainer .footer__CopyrightContenedor {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 6.5rem;
  }
  .footerContainer h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
  .footerContainer footer {
    height: 25rem;
  }
  .footerContainer .footerContainer {
    grid-template-rows: 50% 50%;
    place-items: center;
  }
  .footerContainer .footer__CopyrightContenedor {
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

.container-fluid {
  background-color: #fff;
}

.mainIndex {
  margin-bottom: 5rem;
}
.mainIndex h1 {
  color: rgb(255, 140, 0);
  font-size: 3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}
.mainIndex .textoSuperior__panaderia {
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
  font-size: 1.87rem;
  margin-top: 1rem;
}
.mainIndex .textoSuperior__panaderia i {
  font-weight: bold;
}
.mainIndex .textoYButton {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 15rem;
  width: 20rem;
  margin: auto;
}
.mainIndex .textoYButton .textoYButton__prueba {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1.87rem;
}
.mainIndex .textoYButton .textoYButton__rollos {
  color: rgb(230, 129, 5);
  letter-spacing: 1px;
  font-size: 1.87rem;
  text-align: center;
}
.mainIndex .textoYButton .textoYButton__delivery-button {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.mainIndex .textoYButton .delivery {
  line-height: 25px;
  font-size: 1.3rem;
}
.mainIndex .textoYButton .textoYButton__button {
  background-color: #ff6e2b;
  color: #fff;
  transition: all 0.1s;
  -webkit-animation-name: boton-añadir;
          animation-name: boton-añadir;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  overflow: hidden;
}
.mainIndex .textoYButton .textoYButton__button:hover {
  font-size: 21px;
  margin: -1px;
  background-color: #ff8040;
  color: #f0f0f0;
}
.mainIndex .imgContainer {
  margin-top: 1rem;
  width: 44.25rem;
  height: 32rem;
  overflow: hidden;
  -webkit-animation-delay: default;
          animation-delay: default;
  -webkit-animation-name: slide-img;
          animation-name: slide-img;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.mainIndex .imgContainer img {
  border-radius: 10px;
}
.mainIndex .textoSuperior,
.mainIndex .textoYButton {
  -webkit-animation-delay: default;
          animation-delay: default;
  -webkit-animation-name: slide-texto;
          animation-name: slide-texto;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.mainIndex .letreroContainer h3 {
  color: rgb(230, 129, 5);
  font-weight: bold;
  font-size: 3rem;
}
.mainIndex .letreroContainer h3:first-child {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: rapido;
          animation-name: rapido;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.mainIndex .letreroContainer h3:nth-child(2) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-name: sencillo;
          animation-name: sencillo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.mainIndex .letreroContainer h3:last-child {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-name: horno;
          animation-name: horno;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.mainIndex hr {
  width: 80vw;
  border: 2px solid #f05913;
  margin: auto;
}
.mainIndex .carousel {
  margin: 5rem auto;
}
.mainIndex .carousel img {
  border-radius: 10px;
  height: 30rem;
}
@-webkit-keyframes rapido {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rapido {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes sencillo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sencillo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes horno {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes horno {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slide-img {
  from {
    transform: translateX(50rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-img {
  from {
    transform: translateX(50rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-texto {
  from {
    transform: translateX(-20rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-texto {
  from {
    transform: translateX(-20rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes boton-añadir {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 23px;
  }
  100% {
    font-size: 20px;
  }
}
@keyframes boton-añadir {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 23px;
  }
  100% {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .mainIndex .mainIndex .textoYButton__prueba {
    font-size: 1.65rem;
  }
  .mainIndex .mainIndex .textoYButton__rollos {
    text-align: center;
    font-size: 1.8rem;
  }
  .mainIndex .mainIndex .delivery {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
  .mainIndex .textoYButton__delivery-button {
    width: 19rem;
  }
}

.mainContainerContacto {
  margin-top: 10rem;
}
.mainContainerContacto .textoContactanos {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mainContainerContacto .textoContactanos h1 {
  color: rgb(255, 140, 0);
  font-size: 80px;
  margin-bottom: 3rem;
}
.mainContainerContacto .textoContactanos p {
  font-size: 1.87rem;
}
.mainContainerContacto .textoContactanos a, .mainContainerContacto .textoContactanos i {
  color: rgb(116, 201, 77);
}
.mainContainerContacto .textoContactanos i {
  -webkit-animation-name: whatsapp;
          animation-name: whatsapp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.46, 0.45, 0.5);
          animation-timing-function: cubic-bezier(0.5, 0.46, 0.45, 0.5);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.mainContainerContacto .textoContactanos a {
  text-decoration: none;
}
.mainContainerContacto .textoContactanos a:hover {
  color: rgb(93, 161, 61);
}
.mainContainerContacto .textoContactanos a:hover > i {
  color: rgb(93, 161, 61);
}
@-webkit-keyframes whatsapp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes whatsapp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@media screen and (max-width: 600px) {
  .mainContainerContacto .textoContactanos h1 {
    font-size: 3rem;
  }
  .mainContainerContacto .textoContactanos p {
    font-size: 1.6rem;
  }
}

.form-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin: auto;
  margin-bottom: 5rem;
}
.form-contacto h2 {
  text-align: center;
  color: rgb(230, 129, 5);
  font-size: 2.5rem;
}
.form-contacto label {
  font-size: 1.5rem;
}
.form-contacto select {
  font-size: 1.3rem;
  width: 15rem;
  border: none;
  border-bottom: 2px solid rgb(255, 140, 0);
  padding-left: 5px;
  border-radius: 0;
}
.form-contacto select:focus {
  background: linear-gradient(to bottom, transparent, rgba(252, 136, 5, 0.521));
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid rgb(255, 140, 0);
}
.form-contacto input {
  width: 15rem;
  height: 1.2rem;
  padding-left: 5px;
  border: none;
  font-size: 1.25rem;
  border-bottom: 2px solid rgb(255, 140, 0);
  border-radius: 0;
}
.form-contacto input:focus {
  background: linear-gradient(to bottom, transparent, rgba(252, 136, 5, 0.521));
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid rgb(255, 140, 0);
}
.form-contacto textarea {
  width: 20rem;
  height: 12.5rem;
  padding-left: 5px;
  border: none;
  font-size: 1.25rem;
  border-bottom: 2px solid rgb(255, 140, 0);
  border-radius: 5px;
  min-width: 18.75rem;
  min-height: 12.5rem;
  max-height: 13.75rem;
  max-width: 22rem;
}
.form-contacto textarea:focus {
  background: linear-gradient(to bottom, transparent, rgba(252, 136, 5, 0.521));
  outline: 5px solid rgba(255, 166, 0, 0.87);
  box-shadow: 5px solid rgb(255, 140, 0);
  border-bottom: 1px solid rgb(255, 140, 0);
}
.form-contacto .form-contacto__button {
  display: flex;
  flex-direction: column;
}
.form-contacto .form-contacto__button-send,
.form-contacto .form-contacto__button-reset {
  padding: 5px;
}
.form-contacto .form-contacto__button-send {
  background-color: #ff6e2b;
  color: #fff;
  width: 8rem;
  margin-bottom: 0.5rem;
}
.form-contacto .form-contacto__button-send:active {
  background-color: #fff;
  color: rgb(255, 140, 0);
  border: 1px solid rgb(247, 156, 45);
}
.form-contacto .form-contacto__button-reset {
  background-color: #fff;
  color: rgb(255, 140, 0);
  border: 1px solid rgb(247, 156, 45);
  width: 10rem;
}
.form-contacto .form-contacto__button-reset:active {
  background-color: #ff6e2b;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .form-contacto {
    width: 100%;
  }
  .form-contacto div h2 {
    font-size: 1.6rem;
    width: 100%;
  }
  .form-contacto textarea {
    min-width: 15rem;
    max-width: 20rem;
  }
  .form-contacto input,
.form-contacto select,
.form-contacto textarea {
    width: 100%;
  }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
  .form-contacto textarea {
    font-size: 1.25rem;
  }
}
main h1 {
  color: rgb(255, 140, 0);
  font-size: 3rem;
}
main .cards-container {
  width: 80vw;
  margin: auto;
}
main .cards-container .card {
  width: 25%;
  height: 250%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
main .cards-container .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
main .cards-container .card img {
  width: 100%;
  height: 210px;
}
main .cards-container .card p {
  line-height: 1.5;
  color: #6a6a6a;
}
main .cards-container .card a {
  display: inline-block;
  color: rgb(255, 140, 0);
  border: 1px solid #ff6e2b;
  background-color: #fff;
  transition: all 400ms ease;
}
main .cards-container .card a:hover {
  background-color: #ff6e2b;
  color: #fff;
  cursor: pointer;
}
main .cards-container .card .card-title {
  color: rgb(230, 129, 5);
  margin-bottom: 15px;
}

.galeria-container {
  -webkit-animation-name: galeryAnimation;
          animation-name: galeryAnimation;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.galeria-container h1 {
  color: rgb(255, 140, 0);
}
.galeria-container .col-lg-4 {
  padding: 1rem;
  margin: 0 !important;
}
.galeria-container img {
  width: 100%;
  height: 30rem;
}
@-webkit-keyframes galeryAnimation {
  from {
    transform: translateY(50rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes galeryAnimation {
  from {
    transform: translateY(50rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mainContainerMenu {
  width: 50%;
  margin: auto;
}
.mainContainerMenu h1 {
  color: rgb(255, 140, 0);
  font-size: 3rem;
}
.mainContainerMenu .carousel .carousel-item {
  width: 100%;
}
.mainContainerMenu .carousel .carousel-item img {
  width: 100%;
  height: 50rem;
  -o-object-fit: fill;
     object-fit: fill;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .mainContainerMenu .mainContainerMenu {
    width: 200%;
  }
  .mainContainerMenu .mainContainerMenu .carousel-item img {
    height: 35rem;
    -o-object-fit: fill;
       object-fit: fill;
    margin: auto;
  }
}

.historiaContainer {
  width: 100%;
  height: 62.5rem;
  margin: 1.25rem 0;
}
.historiaContainer img {
  display: none;
}
.historiaContainer .historia-A, .historiaContainer .historia-B {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}
.historiaContainer .historia-A div, .historiaContainer .historia-B div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}
.historiaContainer .historia__superior h1 {
  font-size: 3rem;
  width: 100%;
  color: rgb(255, 140, 0);
}
.historiaContainer .animacion-h1-historia {
  -webkit-animation-name: h1-historia;
          animation-name: h1-historia;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.historiaContainer .historia__superior {
  font-size: 1.87rem;
  line-height: 40px;
}
.historiaContainer .historia__inferior {
  font-size: 1.87rem;
  line-height: 30px;
  width: 100%;
  height: 100%;
  padding-left: 30px;
}
.historiaContainer .parallax-a {
  background-position: 0 50%;
  background-size: 50% 65%;
}
.historiaContainer .parallax-b {
  background-size: 50% 100%;
  background-position: 100% 50%;
}
.historiaContainer .logoHistoria {
  background-image: url("./assets/Logo.jpg");
}
.historiaContainer .rolesHistoria {
  background-image: url("./assets/rol1.jpg");
}
@-webkit-keyframes h1-historia {
  0% {
    font-size: 60px;
  }
  50% {
    font-size: 70px;
  }
  100% {
    font-size: 60px;
  }
}
@keyframes h1-historia {
  0% {
    font-size: 60px;
  }
  50% {
    font-size: 70px;
  }
  100% {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .historiaContainer {
    height: 120rem;
  }
  .historiaContainer .historia-A, .historiaContainer .historia-B {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 40%;
  }
  .historiaContainer .historia-A div, .historiaContainer .historia-B div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 30%;
  }
  .historiaContainer .historia__superior h1 {
    font-size: 2rem;
    line-height: 4rem;
  }
  .historiaContainer .historia__superior {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    order: 2;
  }
  .historiaContainer .historia__inferior {
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    order: 4;
  }
  .historiaContainer .logoHistoria,
.historiaContainer .rolesHistoria {
    background-image: none;
  }
  .historiaContainer img:first-child, .historiaContainer img:last-child {
    display: inline-block;
  }
  .historiaContainer img:first-child {
    order: 1;
  }
  .historiaContainer img:last-child {
    order: 3;
  }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
  .historiaContainer {
    height: 140rem;
  }
}/*# sourceMappingURL=style.css.map */