.form-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;

    h2{
        text-align: center;
        color: map-get($colors , sub-title-color);
        font-size: 2.5rem;
    }

    label{
        font-size: 1.5rem;
    }

    select{
        font-size: 1.3rem;
        width: 15rem;
        border: none;
        border-bottom: 2px solid rgb(255, 140, 0);
        padding-left: 5px;
        border-radius: 0;
        &:focus{
            background: linear-gradient(to bottom, transparent, rgba(252, 136, 5, 0.521));
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid rgb(255, 140, 0);
        }
    }

    input{
        @include inputsPattern ($shadow: none, $inputH: 1.2rem, $inputW: 15rem, $bradius: 0, $inputOL: none);
    }

    textarea{
        @include inputsPattern ($shadow: 5px solid rgb(255, 140, 0), $inputH: 12.5rem, $inputW: 20rem, $bradius: 5px, $inputOL: 5px solid rgba(255, 166, 0, 0.87));
        min-width: 18.75rem;
        min-height: 12.5rem;
        max-height: 13.75rem;
        max-width: 22rem;
    }

    .form-contacto__button{
        display: flex;
        flex-direction: column;
    }

    .form-contacto__button-send,
    .form-contacto__button-reset{
        padding: 5px;
    }

    .form-contacto__button-send{
        @include button-form ($backColor: false, $button-form-w: 8rem);
        margin-bottom: .5rem; 
    }

    .form-contacto__button-reset{
        @include button-form ($backColor: true, $button-form-w: 10rem);
    }
    .precioProducto{
        text-align: left;
    }
}
@media screen and (max-width: 600px){

    .form-contacto{
        width: 100%;
        div{
            h2{
                font-size: 1.6rem;
                width: 100%;
            }
        }

        textarea{
            min-width: 15rem;
            max-width: 20rem;
        }

        input,
        select,
        textarea{
            width: 100%;
        }
    }

}

@media screen and (max-width: 400px) and (orientation: portrait){
    .form-contacto{ 
        textarea{
            font-size: 1.25rem;
    
        }
    }
}
