%button-default{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border: solid transparent 1px;
    border-radius: 3px;
    text-decoration: none;
}

%parallax-base{
    background-attachment: fixed;
    background-color: #fff;
    background-repeat: no-repeat;
}