header{
    .modal-body{
        div{
            &:first-child{
                border: none;
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        .textoModal{
            color: #f05913;
            font-weight: 700;
        }
        .modalContenedor{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 2rem 0;
            border-top: 1px solid #eb5c1a7a;
            .img-carrito{
            width: 20rem;
            height: 20rem;
            padding: 20px;
            border-radius: 12%;
            }
            div{
                &:last-child{
                    display: flex;
                    flex-flow: column wrap;
                    .btn{
                        align-self: center;
                    }
                }
            }
        }
    }
    .navbar-brand{

        img{
            height: 9.37rem;
            width: 15.62rem;    
        }
    }
    .navbar-nav{
        margin-left: 2rem;
        a{
            text-decoration: none;
            color: #a3a3a3;
            font-weight: bold;
            font-size: 1.7rem;
            &:hover{
                color: #fa8925;
                transform: rotate(5deg);
                transition: all 0.5s;
            }
        }
        .active{
            color: #f17407 !important;  
        }
    }

    .navBar__button{
        @extend %button-default;
        background-color: #ff2129;
        font-size: 2rem;
        font-weight: bold;
        color: #fff !important;
        transition: background-color color .5s ease;
        margin-right: 3rem;
        &:hover{
            font-size: 2.1rem;
            background-color: #f52f2f;
            color: #f0f0f0;
        }
    }
    .btnCerrarCarrito{
        border: none;
        background: transparent
    }

    .btnEliminarDelCarrito{
        color: #f52f2f
    }
    .btn-comprar{
        @extend %button-default;
        padding: 5px 15px;
        background-color: rgb(18, 177, 18);
        font-size: 1rem;
        color: rgb(238, 237, 237) ;
        &:hover{
            color: rgb(18, 177, 18) !important;
            border: solid .5px rgb(18, 177, 18) !important;
        }
    }
    .btn-vaciar{
        @extend %button-default;
        padding: 5px 15px;
        background-color: #f52f2f;
        font-size: 1rem;
        color: rgb(238, 237, 237);
        &:hover{
            color: #f52f2f !important;
            border: solid .5px #f52f2f !important;
        }
    }
    .modal-footer{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .precioProducto{
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 600px){
    
        .responsiveButton{
            display: flex;
            flex-direction: column;
            width: 3rem;
            height: 2rem;
            background: transparent;
            border: none;
            gap: .35rem;
            justify-content: center;
        }
        .responsiveButton > div{
            background: #f05913;
            width: 100%;
            height: 2px;
            border-radius: 5px;
            transition: all .5s;
            transform-origin: left;
        }

        .responsiveButton{
            &:hover div:first-child{
                transform: rotate(45deg);
            }
            &:hover div:nth-child(2){
            opacity: 0;
            }
            &:hover div:last-child{
            transform: rotate(-45deg);
            }
        }
    }
}
