.container-fluid{
    background-color: #fff;
}

.mainIndex{
    margin-bottom: 5rem;

    h1{
        color: map-get($colors, title-color);
        font-size: map-get($sizes, title-size);
        display: inline-block;
        vertical-align: middle;
        line-height: 2.5rem;
        text-align: center;
        margin-top: 1rem;
    }

    .textoSuperior__panaderia{
        line-height: 2.5rem;
        letter-spacing: .3rem;
        font-size: map-get($sizes, text-size);
        margin-top: 1rem;
        i{
            font-weight: bold;
        }
    }

    .textoYButton{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 15rem;
        width: 20rem;
        margin: auto;
    
        .textoYButton__prueba{
            font-weight: 800;
            letter-spacing: 1px;
            font-size: map-get($sizes, text-size);
        }

        .textoYButton__rollos{
            color: map-get($colors , sub-title-color);
            letter-spacing: 1px;
            font-size: map-get($sizes, text-size);
            text-align: center;
        }

        .textoYButton__delivery-button{
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            align-items: center;
            width: 20rem;
        }

        .delivery{
            line-height: 25px;
            font-size: 1.3rem;

        }

        .textoYButton__button{
            @extend %button-default;
            background-color: map-get($colors , botton-background-a);
            color: map-get($colors , botton-letter-a);
            transition: all .1s;
            animation-name: boton-añadir;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-duration: 3s;
            animation-delay: 1s;
            overflow: hidden;
            &:hover{
                font-size: 21px;
                margin: -1px;
                background-color: #ff8040;
                color: #f0f0f0;
            }
        }
    }
    .imgContainer{
        margin-top: 1rem;
        width: 44.25rem;
        height: 32rem;
        overflow: hidden;
        @include animation ($aniName: slide-img , $aniDelay: default);
        img{
            border-radius: 10px;
        }
    }
    .textoSuperior,
    .textoYButton{
        @include animation ($aniName: slide-texto , $aniDelay: default)
    }

    .letreroContainer{
        h3{
            color: map-get($colors , sub-title-color);
            font-weight: bold;
            font-size: 3rem;
            &:first-child{
                @include animation($aniName: rapido , $aniDelay: 1.5s)
            }
            &:nth-child(2){
                @include animation($aniName: sencillo , $aniDelay: 2.5s)
            }
            &:last-child{
                @include animation($aniName: horno , $aniDelay: 3.5s)
            }
        }
    }

    hr{
        width: 80vw;
        border: 2px solid #f05913;
        margin: auto;
    }
    
    
    .carousel{
        margin: 5rem auto;
        img{
            border-radius: 10px;
            height: 30rem;
        }
    }
    
    @keyframes rapido{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        
    }
    @keyframes sencillo{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        
    }
    @keyframes horno{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        
    }
    @keyframes slide-img{
        from{
            transform: translateX(50rem);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes slide-texto{
        from{
            transform: translateX(-20rem);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes boton-añadir{
        0%{
            font-size: 20px;
        }
        50%{
            font-size: 23px;
        }
        100%{
            font-size: 20px;
        }
    }

    @media screen and (max-width: 600px){
        .mainIndex{
            .textoYButton__prueba{
                font-size: 1.65rem;
            }
            .textoYButton__rollos{
                text-align: center;
                font-size: 1.8rem;
            }
        
            .delivery{
                font-size: 1.1rem;
            }
        }     
    }

    @media screen and (max-width: 400px) and (orientation: portrait){
        .textoYButton__delivery-button{
            width: 19rem;
        }
    }
}