---
/**
 * Componente de carga (spinner)
 * Muestra una animación de carga
 */
---

<div class="w-screen h-screen bg-black/50 grid place-content-center fixed z-20 backdrop-blur-sm top-0 left-0">
  <span class="loader" />
</div>
