---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="Rollos de canela, delivery, domicilio, panaderia, venezolana, artesanal"
    />
    <meta name="description" content={description} />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/4619c90884.js"
      crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Epilogue:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>{title} - Galipan Pan</title>
    <link rel="shortcut icon" href="/assets/Logo.jpg" type="image/x-icon" />
  </head>
  <body class="min-h-screen flex flex-col bg-background-light text-zinc-900">
    <slot />
  </body>
</html>
